#layout{
	z-index:	2;
	position:	relative;
	width:		100%;
	min-height:	100%;
	box-sizing: border-box;
	padding: 	0 0 0 @nav_width;
	//background:	~"url(@{folder_images}/body-bg.png) 50% 38.2%";
	background:	~"url(@{folder_images}/body-bg.png) 50% 0";
	//background-attachment: fixed;
	
	header, nav, footer{
		position: 		fixed;
		z-index: 		10;
	}
	
	header{
		height: 		@header_height;
		line-height: 	(@header_height - 1);
		padding: 		0 20px 0 0;
		overflow: 		hidden;
		box-sizing: 	border-box;
		color: 			hsl(190, 25%, 80%);
		background: 	linear-gradient(to bottom, hsla(190, 50%, 15%, .85), hsla(190, 50%, 10%, .95) ~"calc(100% - 1px)", transparent ~"calc(100% - 1px)");
		border-bottom:	1px solid hsl(190, 100%, 20%);
		top: 			0;
		left: 			0;
		width: 			100%;
		
		a{
			color: 			inherit;
			display: 		inline-block;
			text-decoration:none;
			height: 		(@header_height - 1);
			width: 			@nav_width;
			box-sizing: 	border-box;
			padding: 		0 20px;
			&:hover{
				background: 	rgba(255, 255, 255, .1);
			}
		}
		
		h2{
			font-size: 		13px;
			padding: 		8px 0 0 0;
			margin: 		0;
		}
		
		h1{
			font-size: 		20px;
			margin: 		0;
		}
	}
	
	nav{
		top: 			@header_height;
		left: 			0;
		width: 			@nav_width;
		height: 		~"calc( 100% - @{header_height} - @{footer_height} )";
		background: 	hsla(190, 50%, 20%, .85);
		box-sizing: 	border-box;
		color: 			hsl(190, 85%, 80%);
		padding: 		20px 0;
		overflow: 		auto;
		
		&>h2, &>span, &>label, &>a{
			display: 		block;
			line-height: 	20px;
			margin: 		0;
			position: 		relative;
			span{
				display: 	block;
				position: 	relative;
			}
		}
		
		&>h2{
			margin-bottom: 	10px;
			padding: 		5px 20px 10px 20px;
		}
		
		&>span, &>label, &>a{
			font-size: 		16px;
			padding: 		15px 30px;
		}
		
		&>a{
			text-decoration:none;
		}
		
		&>label, &>a{
			color: 			hsl(190, 50%, 90%);
			&:hover{
				background: 	hsla(190, 50%, 50%, .35);
			}
			&:active{
				background: 	hsla(190, 50%, 50%, .15);
			}
			&.cur{
				background:		hsl(190, 50%, 20%);
				cursor: 		default;
			}
		}
		
		&>.level-2015summer{
			span{
				padding-left: 	40px;
				&:before{
					content: 		"";
					position: 		absolute;
					left: 			0;
					top: 			50%;
					border-radius: 	50%;
					background: 	~"hsla(190, 50%, 50%, .35) url(@{folder_images}/event-2015-08/nav-icons.png) no-repeat 50% 0 / cover";
					width: 			30px;
					height: 		30px;
					margin-top: 	-15px;
				}
				@media all and (max-width: @screenwidth_smartphone ){
					padding-left: 	32px;
					&:before{
						transform-origin: 0 50%;
						transform: 	scale( (25 / 30) );
					}
				}
			}
			.loop(@n, @i: 2) when (@i =< @n) {
				&.level-2015summer-@{i} span:before{
				background-position-y: 	( (@i - 1) * -30px );
			}
				.loop(@n, (@i + 1))
			}
			.loop(7);
		}
	}
	
	footer{
		height: 		@footer_height;
		line-height: 	(@footer_height - 2);
		padding: 		0 20px;
		overflow: 		hidden;
		box-sizing: 	border-box;
		color: 			hsl(190, 0%, 50%);
		background: 	hsla(190, 0%, 85%, .95);
		border-top: 	2px solid hsl(190, 0%, 75%);
		bottom:			0;
		left: 			0;
		width: 			100%;		
	}
	
	main{
		position: 		relative;
		width: 			100%;
		//min-height: 	(573px + @header_height);
		box-sizing: 	border-box;
		margin: 		0 auto;
		padding: 		(@header_height + 20) 30px (@footer_height + 20) 30px;
		//background:		~"url(@{folder_images}/highlight-bg.jpg) no-repeat 50% 0";
		//background-attachment: fixed;
		
		&>section.main{
			//display: 	none;
			//.fadein();
			h2{
				margin: 	0;
			}
		}
	}
	
	/*
	&>input[name="maintab"]{
		.tab( @name ){
			&[value="content-@{name}"]:checked{
				& ~ nav > [for="maintab-content-@{name}"]{
					background: 	hsl(190, 50%, 20%);
				}
				& ~ main > section.main#content-@{name}{
					display: 		block;
				}
			}
		}
		
		.tab(~"2015summer-introduction");
		.tab(~"2015summer-journal");
		.tab(~"2015summer-guide-1");
		.tab(~"2015summer-guide-2");
		.tab(~"2015summer-guide-3");
		.tab(~"2015summer-guide-4");
		.tab(~"2015summer-guide-5");
		.tab(~"2015summer-guide-6");
		.tab(~"2015summer-guide-7");
	}*/
	
	@media all and (max-width: @screenwidth_smartphone ){
		padding-left: 	@nav_width_small;
		nav{
			width: 		@nav_width_small;
			
			&>h2{
				font-size: 		20px;
				line-height: 	22px;
				margin-bottom: 	6px;
				padding: 		5px 10px;
			}
			
			&>span, &>label, &>a{
				font-size: 		13px;
				padding: 		15px 10px;
				line-height: 	16px;
			}
		}
		main{
			padding-left: 	20px;
			padding-right: 	20px;
		}
		section.main{
			ul{
				padding-left: 	1em;
			}
		}
	}
}

section.main{
	max-width: 	1280px;
	margin: 	0 auto;
	color: 		hsl(0, 0%, 35%);
	font-size: 	15px;
	line-height:1.7;
	
	h1, h2, h3, h4, h5, h6{
		color: 		hsl(190, 100%, 40%);
	}
	
	h2 ~ h3{
		margin-top: 2em;
	}
	
	h2{
		font-size: 	30px;
	}
	h3{
		font-size: 	24px;
	}
	h4{
		font-size: 	20px;
	}
	h5{
		font-size: 	18px;
	}
	
	img{
		display: 	block;
		margin: 	0 auto;
		max-height: ~"calc( 100vh - @{header_height} - @{footer_height} - @{footer_height} - 20px )";
	}
	
	#ds-thread{
		margin-top: 	-1em;
		#ds-reset{
			.ds-meta{
				margin-top: -3em;
				float: 		right;
				text-align: right;
			}
			.ds-comments, .ds-paginator, li.ds-post{
				border-color: 	hsl(0, 0%, 80%);
			}
			/*
			li.ds-post{
				position: 	relative;
				&:after{
					content: 	"";
					display: 	block;
					width: 		100%;
					height: 	60px;
					top: 		0;
					left: 		0;
					position: 	absolute;
					z-index: 	-1;
					background:	linear-gradient(to right, transparent, rgba(255,255,255,.35), transparent);
					.mask(~"linear-gradient(to bottom, #000 50%, transparent)");
				}
			}
			*/
			.ds-paginator{
				background:	linear-gradient(to right, transparent, rgba(255,255,255,.25), transparent);
				.mask(~"linear-gradient(to bottom, #000 50%, transparent)");
			}
		}
		textarea{
			background: 	rgba(255, 255, 255, .5);
			&:hover{
				background: 	rgba(255, 255, 255, .75);
			}
			&:focus{
				background: 	#fff;
			}
		}
	}
	
	&.main-2015summer-level{
		@media all and (min-width: @screenwidth_largescreen2 ){
			margin: 	0;
			width: 		67.5%;
			img[alt="地图"],
			img[alt="level-map"]{
				position: 	fixed;
				min-width: 	~"calc((100% - @{nav_width}) * 0.325 - 35px) ";
				max-width: 	~"calc((100% - @{nav_width}) * 0.325 - 35px) ";
				top: 		(@header_height + 20);
				right: 		20px;
			}
		}
		@media all and (min-width: @screenwidth_largescreen3 ){
			width: 		70%;
			img[alt="地图"],
			img[alt="level-map"]{
				position: 	fixed;
				min-width: 	~"calc((100% - @{nav_width}) * 0.3 - 35px) ";
				max-width: 	~"calc((100% - @{nav_width}) * 0.3 - 35px) ";
			}
		}
	}
}

.highlight{
	color: 	hsl(190, 100%, 40%);
}

table{
	width: 	100%;
	font-size: 		14px;
	line-height: 	1.4;
	.node{
		line-height: 	1.4;
		width: 			1.4em;
	}
	tbody{
		td{
			padding: 		4px 4px;
		}
		tr:nth-child(odd){
			background: rgba(0,0,0,.04);
		}
		tr:hover td{
			background: hsla(190,100%,50%,.15);
		}
	}
}

code{
	font-family: 	Consolas, "Liberation Mono", Menlo, Courier, monospace;
	font-size: 		11px;
	line-height: 	1.2;
	display: 		block;
	background: 	hsl(190, 0%, 80%);
	padding: 		10px 15px;
	color: 			hsl(190, 0%, 50%);
}

.enemy{
	display: 	inline-block;
	&.enemy-boss{
		color: 	purple;
		font-weight: bold;
	}
	&.enemy-kaiflagship{
		color: 	royalblue;
	}
	&.enemy-flagship{
		color: 	orange;
	}
	&.enemy-elite{
		color: 	red;
	}
}

.videoplayer{
	display: 	block;
	margin: 	0 auto;
	width: 		100%;
	height: 	0;
	padding-bottom:56.25%;
	position: 	relative;
	iframe{
		position: 	relative;
		display: 	block;
		width: 		100%;
		height: 	100%;
	}
}
	.videoplayer-body{
		position: 	absolute;
		width: 		100%;
		height: 	100%;
	}

.node{
	display: 	inline-block;
	width: 		1.5em;
	line-height:1.5em;
	margin: 	.1em;
	text-align: center;
	color: 		#fff;
	background: hsl(0, 100%, 74%);
	box-sizing: border-box;
	border-radius: 50%;
	vertical-align: bottom;
	&.node-night{
		background: hsl(0, 100%, 20%);
	}
	&.node-nobattle{
		background: hsl(191, 100%, 55%);
	}
	&.node-air{
		background: hsl(280, 100%, 55%);
	}
	&.node-supply{
		background: hsl(90, 79%, 45%);
	}
	&.node-whirlpool{
		color: 		hsl(253, 78%, 51%);
		background: hsl(253, 100%, 89%);
	}
	&.node-scout{
		background: hsl(64, 80%, 34%);
	}
	&.node-boss{
		background: ~"url(@{folder_images}/node-boss.png) 50% 50% / cover";
		color: 		transparent;
	}
}